<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>test</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <style type="text/css">
        .container{
            margin: 0 auto;
            width: 60%;
            margin-top: 40px;
        }
        .form{
            width: 60%;
            margin: 0 auto;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <form class="form-horizontal form">
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <input type="email" class="form-control" placeholder="Email" id="name">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
		    <div class="col-sm-10">
		      <input type="password" id="password" class="form-control" placeholder="Password">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox"> Remember me
		        </label>
		      </div>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button class="btn btn-default" id="tijiao">Sign in</button>
		    </div>
		  </div>
		</form>
    </div>
</body>
<script type="text/javascript">
    const ajax = (method, url, data = '') => new Promise((resolve, reject) => {
        let ajaxObj;
        if (window.XMLHttpRequest) {
            ajaxObj = new XMLHttpRequest();
        }else{
            ajaxObj = new ActiveXObject;
        }
        let sendData = '';
        if (method === 'post') {
            sendData = JSON.stringify(data);
        }
        ajaxObj.open(method, url, true);
        ajaxObj.setRequestHeader('Content-Type', 'application/json');
        ajaxObj.send(sendData);
        ajaxObj.onreadystatechange = () => {
            if (ajaxObj.readyState == 4) {
                if (ajaxObj.status == 200) {
                    resolve(ajaxObj.response);
                    return
                }
            }
        };
    });
    const nameInput = document.getElementById('name');
    const passwordInput = document.getElementById('password');
    const submit = document.getElementById('tijiao');
    submit.onclick = async (event) => {
    	event.preventDefault();
    	const name = nameInput.value;
    	const password = passwordInput.value;
    	const result = await ajax('post', '/signin', {name, password});
    	console.log(result);
    }
</script>
</body>
</html>